<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Students</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Students List:</h1> 
    <p>Total Students : <%= studentsCnt %></p>
    <div id = "addstudent">
        <form action="/students/new", method="get">
        <button>Add Student</button>
    </form>
    </div>
    <br>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Course</th>
            <th>Phone</th>
        </tr>
        <% for(student of students) { %>
        <tr>
            <td><%= student.id %></td>
            <td><%= student.name %></td>
            <td><%= student.email %></td>
            <td><%= student.age %></td>
            <td><%= student.course %></td>
            <td><%= student.phone %></td>
            <td>
                <a href="/students/view/<%= student.id %>">
                    <button>Detail</button>
                </a>
                <a href="/students/edit/<%= student.id %>">
                    <button>Edit</button>
                </a>
                <button>Delete</button>
            </td>
        </tr>
        <% } %>

    </table>
</body>

</html>