<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Detail</title>
</head>
<body>
    <div id = "box1">
        <h2>Student ID : <%= student.id %></h2>
        <h2>Student Name : <%= student.name %></h2>
        <h2>Student Age : <%= student.age %></h2>
        <h2>Student Courses : <%= student.course %></h2>
        <h2>Student Mobile No. : <%= student.phone %></h2>
    </div>
    
</body>
</html>